*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #ff6b6b 0%, #ffa07a 50%, #87cefa 100%);
    background-repeat: no-repeat;
}
.contenitore {
    display: flex;
    width: 1100px;
    height: 620px;
    background-color: white;
    border: 1px solid black;
}

    /* parte sinistra */

.box1 {
    width: 40%;
    height: 100%;
}
.box2 {
    width: 60%;
    height: 100%;
}
.item1 {
    width: 100%;
    height: 15%;
    background-color: #EAEAEA;
}
.item2 {
    width: 100%;
    height: 20%;
    background-color: #8EC6F1;
    display: flex;
}
.uno {
    width: 10%;
    height: 100%;
}
.uno i {
    background-color: white;
    font-size: 45px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
}
.due {
    width: 90%;
    height: 100%;
}
.figlio1 {
    width: 100%;
    height: 40%;
}
.figlio1 {
    width: 100%;
    height: 20%;
}
.figlio1 {
    width: 100%;
    height: 40%;
}
.ricerca {
    width: 300px;
    margin-bottom: 10px;
}
.son {
width: 50%;
height: 100%;
display: flex;
align-items: center;
justify-content: start;
}
.son1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.son1 i {
    margin-right: 15px;
    font-size: 20px;
    margin-bottom: 15px;
    color:  black;
    cursor: pointer;
}
.son img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    /* margin-bottom: 15px; */
    cursor: pointer;
    border-radius: 20px;
}

.son span {
    color: black;
}
.figlio2 a {
    color: black;
}
.sister {
    display: inline-block;
}
.dad {
border-bottom: 1px solid #EAEAEA;
border-top: 1px solid #EAEAEA;
}
.dad img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
.rtr-img {
    width: 20%;
    height: 100%;
}
.rtr-frasi {
    width: 80%;
    height: 100%;
}
.dad:hover {
    background-color: #EAEAEA;
}

.chat-superiore {
    width: 100%;
    height: 8.7%;
    background-color: #EAEAEA;
}
.car {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.item4 {
    width: 100%;
    height: 8.6%;
    background-color: #EAEAEA;
    display: flex;
}
.message-write {
    width: 100%;
    height: 80%;
    overflow:scroll;
    background-image: url('../img/sfondo.jpg');
    background-size: cover; 
    display: flex;
}
.message {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start; 
border: 1px solid black;
}
.bianco {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: auto;
    max-width: 70%;
    word-wrap: break-word;
}

.verde {
    background-color: rgb(19, 201, 19);
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: 5px;
    max-width: 70%;
    margin-top: 10px;
    word-wrap: break-word;
}
.barraScrittura {
width: 100%;
height: 13%;
background-color: #EAEAEA;
}
.barraScrittura i {
font-size: 20px;
cursor: pointer;
}
.barraScrittura input {
    height: 56%;
    position: relative;
}
.icone {
width: 200px;
height: 200px;
overflow: scroll;
border: 1px solid violet;
background-color: #EAEAEA;
position: absolute;
z-index: 99;
left: 45%;
bottom: 8%;
}
.icone i {
padding: 4px;
margin-left: 10px;
}
.ver {
display: none;
}
.ter {
display: block;
}